In [6]:
import pandas as pd

In [8]:
month = '01'
service = 'fhv'
year = '2019'

In [9]:
init_url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/'

In [14]:
file_name = service + '_tripdata_' + year + '-' + month + '.csv.gz'
request_url = init_url + service + '/' + file_name

In [15]:
request_url

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-01.csv.gz'

In [18]:
pd.read_csv(request_url, compression='gzip').head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008