# Q 1

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
        .master("local[*]") \
        .appName('test') \
        .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/24 15:15:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.version

'3.5.1'

# Q 2

Read the October 2019 FHV into a Spark Dataframe with a schema as we did in the lessons.

Repartition the Dataframe to 6 partitions and save it to parquet.

What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

1MB
6MB
25MB
87MB

In [6]:
# download hv_tripdata_2019-10.csv.gz to local

# !wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

In [105]:
!wc -l fhv_tripdata_2019-10.csv.gz

   62958 fhv_tripdata_2019-10.csv.gz

In [106]:
# directly read file as spark dataframe
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [107]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [108]:
df.head(5)

[Row(dispatching_base_num='B00009', pickup_datetime='2019-10-01 00:23:00', dropOff_datetime='2019-10-01 00:35:00', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime='2019-10-01 00:11:29', dropOff_datetime='2019-10-01 00:13:22', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:11:43', dropOff_datetime='2019-10-01 00:37:20', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:56:29', dropOff_datetime='2019-10-01 00:57:47', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:23:09', dropOff_datetime='2019-10-01 00:28:27', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014')]

In [109]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [24]:
!zcat < fhv_tripdata_2019-10.csv.gz | head -n 1001  > fhv_tripdata_2019-10_head.csv

zcat: error writing to output: Broken pipe

In [25]:
!wc -l fhv_tripdata_2019-10_head.csv

    1001 fhv_tripdata_2019-10_head.csv

In [26]:
import pandas as pd

In [29]:
df_pandas = pd.read_csv('fhv_tripdata_2019-10_head.csv')

In [30]:
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [31]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [32]:
from pyspark.sql import types

In [35]:
schema = types.StructType(
    [
        types.StructField('dispatching_base_num', types.StringType(), True), 
        types.StructField('pickup_datetime', types.TimestampType(), True), 
        types.StructField('dropOff_datetime', types.TimestampType(), True), 
        types.StructField('PUlocationID', types.IntegerType(), True), 
        types.StructField('DOlocationID', types.IntegerType(), True), 
        types.StructField('SR_Flag', types.StringType(), True), 
        types.StructField('Affiliated_base_number', types.StringType(), True)
    ]
)

In [61]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [62]:
df.head(5)

[Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 35), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 13, 22), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 43), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 37, 20), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 56, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 57, 47), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23, 9), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 28, 27), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014')]

In [63]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [64]:
df = df.repartition(6)

In [67]:
df.write.parquet('fhv/2019/10', mode='overwrite')

In [68]:
! ls -lh ./fhv/2019/10

total 78128
-rw-r--r--  1 liuruizhu  staff     0B Apr 24 18:06 _SUCCESS
-rw-r--r--  1 liuruizhu  staff   6.3M Apr 24 18:06 part-00000-1860a3a8-26ad-458d-ae71-23e152cf50ff-c000.snappy.parquet
-rw-r--r--  1 liuruizhu  staff   6.4M Apr 24 18:06 part-00001-1860a3a8-26ad-458d-ae71-23e152cf50ff-c000.snappy.parquet
-rw-r--r--  1 liuruizhu  staff   6.4M Apr 24 18:06 part-00002-1860a3a8-26ad-458d-ae71-23e152cf50ff-c000.snappy.parquet
-rw-r--r--  1 liuruizhu  staff   6.4M Apr 24 18:06 part-00003-1860a3a8-26ad-458d-ae71-23e152cf50ff-c000.snappy.parquet
-rw-r--r--  1 liuruizhu  staff   6.4M Apr 24 18:06 part-00004-1860a3a8-26ad-458d-ae71-23e152cf50ff-c000.snappy.parquet
-rw-r--r--  1 liuruizhu  staff   6.4M Apr 24 18:06 part-00005-1860a3a8-26ad-458d-ae71-23e152cf50ff-c000.snappy.parquet

# Q 3

How many taxi trips were there on the 15th of October?

Consider only trips that started on the 15th of October

In [69]:
# Method 1
df.createOrReplaceTempView('fhv_oct_2019_trips_data')

In [70]:
spark.sql('''
SELECT 
    count(*)
FROM
    fhv_oct_2019_trips_data
WHERE
    DATE(pickup_datetime) = DATE('2019-10-15')
''').show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [71]:
# Method 2
from pyspark.sql import functions as F

In [72]:
df \
    .filter(F.to_date(df.pickup_datetime) == '2019-10-15') \
    .count()

62610

# Q 4

Longest trip for each day

What is the length of the longest trip in the dataset in hours?

In [99]:
# transfer dropOff_datetime and pickup_datetime to long type, which means we transfer timestamp to Unix timestamp
df.withColumn('trip_duration', (df.dropOff_datetime.cast('long') - df.pickup_datetime.cast('long'))/60/60) \
    .orderBy('trip_duration', ascending=False) \
    .limit(1) \
    .show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|trip_duration|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------+
|              B02832|2019-10-11 18:00:00|2091-10-11 18:30:00|         264|         264|   NULL|                B02832|     631152.5|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-------------+

In [90]:
spark.sql('''
SELECT 
    (UNIX_TIMESTAMP(dropOff_datetime) - UNIX_TIMESTAMP(pickup_datetime)) / 3600 trip_duration
FROM
    fhv_oct_2019_trips_data
ORDER BY
    trip_duration desc
LIMIT 1
''').show()

+-------------+
|trip_duration|
+-------------+
|     631152.5|
+-------------+

# Q 5
Spark’s User Interface which shows the application's dashboard runs on which local port?

 answer: 4040

# Q 6

Least frequent pickup location zone

Load the zone lookup data into a temp view in Spark

Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?

In [100]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-04-24 18:43:05--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
正在解析主机 github.com (github.com)... 20.248.137.48
正在连接 github.com (github.com)|20.248.137.48|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 302 Found
位置：https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240424%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240424T084306Z&X-Amz-Expires=300&X-Amz-Signature=fbfe068ada84f6ee82a3aa0cd9cc4e0407859f9b192e10e2b124de1fe59a581b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [跟随至新的 URL]
--2024-04-24 18:43:06--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240424%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240424T084306Z&X-Amz-Expires=300&X-Amz-Signature=fbfe068ada84f6ee82a3aa0cd9cc4e0407859f9b192e10e2b124de1fe59a581b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
正在解析主机 objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
正在连接 objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... 已连接。
已发出 HTTP 请求，正在等待回应... 200 OK
长度：12322 (12K) [application/octet-stream]
正在保存至: “taxi_zone_lookup.csv”

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s  用时 0.001s

2024-04-24 18:43:07 (19.0 MB/s) - 已保存 “taxi_zone_lookup.csv” [12322/12322])

In [103]:
df_q6 = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [104]:
df_q6.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [112]:
df_q6.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [113]:
df_q6.schema

StructType([StructField('LocationID', StringType(), True), StructField('Borough', StringType(), True), StructField('Zone', StringType(), True), StructField('service_zone', StringType(), True)])

In [114]:
schema = types.StructType(
    [
        types.StructField('LocationID', types.IntegerType(), True), 
        types.StructField('Borough', types.StringType(), True), 
        types.StructField('Zone', types.StringType(), True), 
        types.StructField('service_zone', types.StringType(), True)
    ]
)

In [115]:
df_q6 = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('taxi_zone_lookup.csv')

In [116]:
df_q6.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [117]:
df_q6.createOrReplaceTempView('taxi_zone_lookup_data')

In [119]:
df_q6.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [118]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [122]:
df = df.withColumnRenamed('PUlocationID', 'LocationID')

In [123]:
df.show()

+--------------------+-------------------+-------------------+----------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|LocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+----------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|       264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|       264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|       264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|       264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|       264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|       129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|        57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|       173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|       226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|        56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|        82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|       264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|       264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|       264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|       264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|       264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|       264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|       264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|       264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|       264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+----------+------------+-------+----------------------+
only showing top 20 rows

In [125]:
all_trips = df.join(df_q6, on='LocationID', how='inner')

In [126]:
all_trips.show()

+----------+--------------------+-------------------+-------------------+------------+-------+----------------------+-------+---------------+------------+
|LocationID|dispatching_base_num|    pickup_datetime|   dropOff_datetime|DOlocationID|SR_Flag|Affiliated_base_number|Borough|           Zone|service_zone|
+----------+--------------------+-------------------+-------------------+------------+-------+----------------------+-------+---------------+------------+
|       264|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|   NULL|                B00009|Unknown|             NV|         N/A|
|       264|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|   NULL|                B00013|Unknown|             NV|         N/A|
|       264|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|   NULL|                B00014|Unknown|             NV|         N/A|
|       264|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|   NULL|                B00014|Unknown|             NV|         N/A|
|       264|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|   NULL|                B00014|Unknown|             NV|         N/A|
|       129|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|   NULL|       B00021         | Queens|Jackson Heights|   Boro Zone|
|        57|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|   NULL|       B00021         | Queens|         Corona|   Boro Zone|
|       173|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|   NULL|       B00021         | Queens|   North Corona|   Boro Zone|
|       226|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|   NULL|       B00021         | Queens|      Sunnyside|   Boro Zone|
|        56|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|   NULL|       B00021         | Queens|         Corona|   Boro Zone|
|        82|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|   NULL|       B00021         | Queens|       Elmhurst|   Boro Zone|
|       264|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|          71|   NULL|                B00037|Unknown|             NV|         N/A|
|       264|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|          39|   NULL|                B00037|Unknown|             NV|         N/A|
|       264|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         188|   NULL|                B00037|Unknown|             NV|         N/A|
|       264|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|          91|   NULL|                B00037|Unknown|             NV|         N/A|
|       264|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|          71|   NULL|                B00037|Unknown|             NV|         N/A|
|       264|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|          35|   NULL|                B00037|Unknown|             NV|         N/A|
|       264|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|          61|   NULL|                B00037|Unknown|             NV|         N/A|
|       264|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         198|   NULL|                B00037|Unknown|             NV|         N/A|
|       264|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|   NULL|                  #N/A|Unknown|             NV|         N/A|
+----------+--------------------+-------------------+-------------------+------------+-------+----------------------+-------+---------------+------------+
only showing top 20 rows

In [128]:
all_trips.createOrReplaceTempView('all_trips')

In [133]:
spark.sql('''
SELECT
    LocationID,
    Zone,
    count(*) number_of_zone
FROM
    all_trips
GROUP BY
    LocationID, Zone
ORDER BY
    number_of_zone
LIMIT 1
''').show()

+----------+-----------+--------------+
|LocationID|       Zone|number_of_zone|
+----------+-----------+--------------+
|         2|Jamaica Bay|             1|
+----------+-----------+--------------+